@charset "UTF-8";

/*---- FONTS ----*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');

@font-face {
  font-family: 'Matchstick-italic';
  src: url('fonts/MatchstickItalic.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Matchstick-regular';
  src: url('fonts/MatchstickLight.otf') format('opentype');
  font-style: normal;
}

.cursive {
  font-family: 'Matchstick-italic';
  font-weight: 200;
}
.regular {
  font-family: 'Matchstick-regular';
  font-weight: 200;
}

/*---- NAV ----*/

.topnav {
  /* background-color: #333; */
  overflow: hidden;
  padding-bottom: 32px;
}

.topnav a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 24px 14px 0px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: #898989;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #000000;
  font-weight: 400;
}

/*---- LAYOUT ----*/

body {
  background-color: #FFFEF9;
  padding: 2% 5% 5% 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-gap: 2em;
}

img {
  width: 100%;
}

.block {
  padding: 16px 0;
}

/*---- TYPOGRAPHY ----*/

h1 { /*home page only*/
  font-family: 'Matchstick-Italic', sans-serif;
  font-size: 5.5em;
  margin: 16px 0px;
  line-height: 1em;
  font-weight: 200;
}

h2 { /*page titles*/
  font-family: 'Matchstick-regular', sans-serif;
  font-size: 4em;
  font-weight: 200;
  margin: 0 0 24px 0;
  line-height: 1em;
}

h3 { /*wedding party and faq*/
  font-family: 'Matchstick-regular', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  margin: 8px 0px 4px 0px;
}

.party-caption { /*wedding party*/
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: 0;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  line-height: 1.5em;
  margin: 8px 0px 16px 0px;
}

/*---- FORM ----*/

label {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

input {
  box-sizing:border-box;
  background-color: #FFFDF4;
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
} 
input::placeholder {
  color: #787878;
}

button {
  padding: 12px 16px;
  background-color: #D9EDC0;
  color: #000000;
  border: none;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  border-radius: 40px;
}
button:hover {
  background-color: #BEDC97;
  cursor: grab;
}

/*---- MEDIA QUERIES ----*/

 @media (max-width: 768px) { 
  body { padding: 5% 10% 10% 10%; }

}
@media (max-width: 425px) {
  body { padding: 5%; }
}
